[submodule "submodules/vma"]
	path = submodules/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "submodules/vk-bootstrap"]
	path = submodules/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "submodules/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt
